body {
    background-color: rgb(52, 52, 52);
}
*{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    align-content: center;
}
.btn {
    background-color: rgb(81, 81, 227);
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-style: normal;
    font-size: larger;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        background-color 0.3s ease;
}

@media (prefers-color-scheme: light) {
    .btn {
        background-color: rgb(81, 81, 227);
        color: white;
    }
}

@media (prefers-color-scheme: dark) {
    .btn {
        background-color: rgb(44, 44, 150); 
        color: rgb(230, 230, 230);
    }
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}